/*! project specific CSS goes here. */

a:hover {
	text-decoration: none;
}

.mystyle input[type="text"] {
   height: 14px;
   font-size: 10px;
   line-height: 14px;
}

#sign_up p {
  font-size: 22.5px;
  font-weight: 300;
  line-height: 24.5px;
  margin-bottom: 20px;
  text-align: justify;
}

#current_answer p:last-of-type {
  margin-bottom: 0px;
}

#current_answer p {
	font-size: 22.5px;
	font-weight: 300;
	line-height: 24.5px;
	margin-bottom: 20px;
}

#current_answer p:last-of-type {
	margin-bottom: 0px;
}

body {
	background-image:url('../img/background.png');
	/*padding-top: 42px;*/
}

.bottom-buffer {
	margin-bottom: 2px;
}

.pull-center {
	margin-left: auto;
	margin-right: auto;
	float: none;
}

.red	{
	background-color: #f15c22;
	color: #ffffff;
	padding: 25px 20px;
}

.blue	{
	background-color: #73a1d5;
	color: #ffffff;
	padding: 40px 20px;
}

.lightgray {
	background-color: #C6C7C9;
	color: #575757;
  padding: 25px 20px;
}

.darkgray	{
	background-color: #575757;
	color: #C6C7C9;
	padding: 25px 20px;
}

.navbar {
	margin-bottom: 0;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

/* Forms */

.form-horizontal .control-label {
  padding-top: 10px;
}

/* Sunburst */

.pollChart p {
 text-align:center;
 margin-top:0;   
}

#sunburst h1 {
  text-align: center;
}

.gridSquare {
    width: 40px;
    height: 40px;
    display:inline-block;
    margin: 0;
}

div.tooltip {
    width: 100px;
    background-color: rgb(199, 199, 199);
    height: 70px;
    padding:10px;
    position:absolute;
    z-index:10;
}
path.tooltip {
    fill:rgb(199, 199, 199);
}

.legend {
  display:inline-block; 
  margin-right:15px;
}

.legend .key {
  display:inline-block;
  width:25px;
  height:25px;
  margin-right:7px;
  vertical-align:top;
}

.pollChart {
  width: 100%;
}

.legend2 {
 display:block;
 padding:5px;
 margin-bottom:5px;
 border: 1px solid #575757;
 font-weight: 300;
}

.legend2 span {
    margin-right:10px;
}

.legend2 span.value {
}

.legend2 span.answer {
}

/* Filter Formatting */

#sunburst h4 {
 display:inline-block;
 margin-right: 20px;
}

.pollChart .filter {
    display:inline-block;
    margin-right:10px;
 }

 .pollChart .filter select {
     width: 120px;
}

.pollChart .poll-label {
     display:block;
     text-align:right;   
     margin-bottom: 5px;
}

.pollChart tspan {
    fill: #575757;
}
.pollChart .switcher {
    display:inline-block;
    padding:1px 3px;
    position:relative;
}
.pollChart .switcher span {
    vertical-align:middle;
}
.pollChart .switcher .offText {
    visibility:visible;
}
.pollChart .switcher .onText {
    visibility:hidden;
}
.pollChart .switcher.active .offText {
    visibility:hidden;
}
.pollChart .switcher.active .onText {
    visibility:visible;
}
.pollChart .switcher .blackRect {
  display:inline-block;
  width:5px;
  background:black;
  height:15px;
  position:absolute;
  left:3px;
  top:2px; 
}
.pollChart .switcher.active .blackRect {
  right:3px;
  left:inherit;  
}

/* Forms */

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 0;
}

.radio-inline,
.checkbox-inline {
  margin-top: 0;
  margin-right: 10px;
}

/* Datepicker */

.datepicker-select {
  position: relative;
}

.datepicker-select .dropdown-value {
  cursor: text;
  color: #333333;
}
.datepicker-select .datepicker-select-year .dropdown-value {
  width: 34px;
}
.datepicker-select .datepicker-select-month .dropdown-value,
.datepicker-select .datepicker-select-day .dropdown-value {
  width: 20px;
}
.datepicker-select .datepicker-select-month .dropdown-value.dropdown-wide {
  width: 80px;
}

.datepicker-select .datepicker-select-year .dropdown-menu,
.datepicker-select .datepicker-select-day .dropdown-menu {
  min-width: 60px;
}
.datepicker-select .datepicker-select-month .dropdown-menu {
  min-width: 120px;
}
.datepicker-select .dropdown-menu > li > a,
.datepicker-select .dropdown-menu > li > a:hover {
  color: #333333;
  text-decoration: none;
  background: transparent;
  outline: 0;
}
.datepicker-select .dropdown-menu > li > a:focus,
.datepicker-select .dropdown-menu > li > a.focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.datepicker-select .dropdown-menu::-webkit-scrollbar {
  width: 12px;
}
.datepicker-select .dropdown-menu::-webkit-scrollbar-button {
  width: 12px;
  height: 0;
}
.datepicker-select .dropdown-menu::-webkit-scrollbar-track {
  background: #eee;
  box-shadow: 0px 0px 3px #dfdfdf inset;
  border-radius: 6px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.datepicker-select .dropdown-menu::-webkit-scrollbar-thumb {
  background: #999;
  border: thin solid gray;
  border-radius: 6px;
}
.datepicker-select .dropdown-menu::-webkit-scrollbar-thumb:hover {
  background: #7d7d7d;
}

.datepicker-select .dropdown-menu.dropdown-long {
  max-height: 300px;
  overflow: hidden;
  overflow-y: auto;
}

.datepicker-select .dropdown-menu.measure-width {
  display: block !important;
  visibility: hidden !important;
}
.datepicker-select .dropdown-menu.measure-width > li > a {
  display: inline-block !important;
}

.datepicker-select .dropdown-arrow {
  position: absolute;
  bottom: -3px;
  right: 7px;
  z-index: 1001;
  display: none;
}
.datepicker-select .dropdown-arrow:before,
.datepicker-select .dropdown-arrow:after {
  position: absolute;
  bottom: 0px;
  display: block;
  content: '';
}
.datepicker-select .dropdown-arrow:before {
  right: 0px;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
}
.datepicker-select .dropdown-arrow:after {
  right: 1px;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
}

.datepicker-select .open > .dropdown-menu {
  display: block;
}
.datepicker-select .open > .dropdown-arrow {
  display: block;
}