/* Global */

a {
  color: inherit;
}

a:hover {
	text-decoration: none;
}

body {
  background-image:url('../img/background.png');
  -webkit-font-smoothing: antialiased;
}

h1 {
  margin-bottom: 20px;
}

label {
  font-weight: 400;
}

.bottom-buffer {
  margin-bottom: 2px;
}

.pull-center {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border: 0;
}

.red,
.blue,
.lightgray,
.darkgray,
.white,
.clear {
  padding: 25px 20px;
}

.red  {
  background-color: #f15c22;
  color: #ffffff;
}

.blue {
  background-color: #73a1d5;
  color: #ffffff;
}

.lightgray {
  background-color: #c3c3c3;
  color: #575757;
}

.lightgray a:hover {
  color: #ffffff;
}

.darkgray {
  background-color: #575757;
  color: #c3c3c3;
}

.white {
  background-color: #ffffff;
  color: #575757;
}

.darkgray a:hover {
  color: #ffffff;
}

span.icon {
  margin-top:20px;
}

.activated {
  color: #73a1d5;
}

/* Footer */

footer p {
  margin-bottom: 0px;
}

/* Icons */

.icon-small { font-size: 12px; }
.icon-big { font-size: 24px; }

/* Specific Styling */

.navbar {
  margin-bottom: 0;
}

input[type="search"] {
  margin-top: 6px;
}

.btn-panel {
  display: block;
  padding: 25px 20px;
  margin-bottom: 0;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.1;
  vertical-align: inherit;
  cursor: pointer;
  border: 0;
  border-radius: 0px;
  white-space: nowrap;
}
.btn-panel:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn-panel:hover,
.btn-panel:focus {
  color: #ffffff;
  text-decoration: none;
}
.btn-panel:active,
.btn-panel.active {
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
/* Sign-up Form */

#sign_up p {
  font-size: 22.5px;
  font-weight: 300;
  line-height: 24.5px;
  margin-bottom: 20px;
  text-align: justify;
}

/* Question Form */

#current_question h1 {
  margin-bottom: 20px;
}

#current_answer p {
	font-size: 22.5px;
	font-weight: 300;
	line-height: 24.5px;
	margin-bottom: 20px;
}

#current_answer p:last-of-type {
	margin-bottom: 0px;
}

/* Profile */

#profile h1 {
  margin-bottom: 5px;
}

#profile h2, h3, h4 {
  margin-bottom: 10px;
  margin-top: 5px;
}

#grid {
  margin-bottom: 16px;
}

/* Submit */

#id_question.form-control {
  display: block;
  width: 100%;
  height: 70px;
  padding: 20px;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.428571429;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  background-color: #f15c22;
  border: 1px solid #ffcdb9;
  border-radius: 0px;
  -webkit-box-shadow: 0px #ffc9b4;
  box-shadow: 0px #ffc9b4;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#id_question.form-control:focus {
  border: 1px solid #ffc9b4;
  background-color: #ffffff;
  color: #000000;
  outline: 0;
  -webkit-box-shadow: 0px 0px 0px #f15c22;
  box-shadow: 0px 1px 0px #f15c22;
}

#id_question::-webkit-input-placeholder {color: #ffcdb9;}
#id_question:-moz-placeholder {color: #ffcdb9;}
#id_question::-moz-placeholder {color: #ffcdb9;}
#id_question:-ms-input-placeholder {color: #ffcdb9;}

/*
input:focus::-webkit-input-placeholder {opacity: 0;}
input:focus:-moz-placeholder {opacity: 0;}
input:focus::-moz-placeholder {opacity: 0;}
input:focus:-ms-input-placeholder {opacity: 0;}
*/

#proposed_answer {
  padding-bottom: 10px;
}

#proposed_answer .form-control {
  display: block;
  width: 100%;
  height: 35px;
  padding: 0;
  font-size: 22.5px;
  font-weight: 300;
  line-height: 1.428571429;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  background-color: #73a1d5;
  border: 1px solid #cfe5fd;
  border-radius: 0px;
  -webkit-box-shadow: 0px #bddafc;
  box-shadow: 0px #bddafc;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#proposed_answer .form-control:focus {
  border: 1px solid #bddafc;
  background-color: #ffffff;
  color: #000000;
  outline: 0;
  -webkit-box-shadow: 0px 1px 0px #73a1d5;
  box-shadow: 0px 1px 0px #73a1d5;
}

#proposed_answer input::-webkit-input-placeholder {color: #cfe5fd;}
#proposed_answer input:-moz-placeholder {color: #cfe5fd;}
#proposed_answer input::-moz-placeholder {color: #cfe5fd;}
#proposed_answer input:-ms-input-placeholder {color: #cfe5fd;}

/* Forms */

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 5px;
  margin-left: 0;
}

.radio-inline,
.checkbox-inline {
  margin-top: 5px;
  margin-right: 10px;
}

/* Charts */

.pollChart {
  width: 100%;
}

.pollChart p {
 text-align:center;
 margin-top:0px;   
}

div.tooltip {
    background-color: #ffffff;
    padding:10px;
    position:absolute;
    z-index:10;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

path.tooltip {
    fill:rgb(199, 199, 199);
}

/* Sunburst */

#sunburst h1 {
  text-align: center;
}

#sunburst p {
  margin-bottom: 5px;
}

.legend {
  display:inline-block; 
  margin-right:15px;
}

.legend .key {
  display:inline-block;
  width:25px;
  height:25px;
  margin-right:7px;
  vertical-align:top;
}

.legend2 {
 display:block;
 margin-bottom:5px;
 border: 1px solid #ffffff;
 font-weight: 400;
 color: #575757;
}

.legend2.disabled {
 display:block;
 margin-bottom:5px;
 border: 1px solid #ffffff;
 font-weight: 300;
 color: #ffffff;
}

.legend2 span {
    margin-right:5px;
}

.legend2 span.value {
    vertical-align:middle;
}

.legend2 span.answer {
    vertical-align:middle;
    float: right;
    margin-top: 2px;
}

/* Grid */

.gridSquare {
    width: 24px;
    height: 24px;
    display:inline-block;
    border: 1px solid #ffffff;
    margin: 0 -1px -6px 0;
}

/* Filter Formatting */

#sunburst h4 {
 display:inline-block;
 margin-right: 10px;
}

#sunburst h2 {
    text-align: center;
    margin-bottom: 0;
}

.centerText {
    fill: #c3c3c3;
    stroke: none;
    stroke-width: 0;
}

.pollChart .filter {
    display:inline-block;
    margin-right:10px;
 }

.pollChart .filter select {
     width: 100px;
}

.pollChart .poll-label {
     display:block;
     text-align:right;   
     margin-bottom: 0px;
}

.pollChart tspan {
    fill: #ffffff;
}

.pollChart .switcher {
    display:inline-block;
    padding: 0px 5px;
    width: 40px;
    position:relative;
}
.pollChart .switcher span {
    vertical-align:middle;
}
.pollChart .switcher .offText {
    visibility:visible;
}
.pollChart .switcher .onText {
    visibility:hidden;
}
.pollChart .switcher.active .offText {
    visibility:hidden;
}
.pollChart .switcher.active .onText {
    visibility:visible;
}
.pollChart .switcher .blackRect {
  display:inline-block;
  vertical-align:middle;
  width:5px;
  background:#ffffff;
  height:10px;
  left:3px;
  top:2px; 
}
.pollChart .switcher.active .blackRect {
  right:3px;
  left:inherit;
  background:#575757;
}

.slider {
    width:90%;
    margin-left:5%;
    margin-bottom:20px;
}

/* Typeahead */

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}

.tt-hint {
  margin-top: 6px;
  margin-left: 1px;
}

.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.tt-suggestion,
.searchresults {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}
