/*! project specific CSS goes here. */

a:hover {
	text-decoration: none;
}

#current_answer p {
	font-size: 22.5px;
	font-weight: 300;
	line-height: 24.5px;
	margin-bottom: 20px;
}

#current_answer p:last-of-type {
	margin-bottom: 0px;
}

body {
	background-image:url('../img/background.png');
	/*padding-top: 42px;*/
}

.bottom-buffer {
	margin-bottom: 2px;
}

.pull-center {
	margin-left: auto;
	margin-right: auto;
	float: none;
}

.red	{
	background-color: #f15c22;
	color: #ffffff;
	padding: 25px 20px;
}

.blue	{
	background-color: #73a1d5;
	color: #ffffff;
	padding: 40px 20px;
}

.darkgray	{
	background-color: #575757;
	color: #C6C7C9;
	padding: 25px 20px;
}

.navbar {
	margin-bottom: 0;
}