{% load staticfiles %}
{% load questions_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Pollaboration{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Bootstrap CSS-->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" media="screen">

    <!-- Glyphicons CSS -->
    <link href="{% static 'css/style.css?v=2' %}" rel="stylesheet">
    <link href="{% static 'css/glyphicons.css' %}" rel="stylesheet">
    <link href="{% static 'css/social.css' %}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Pollaboration CSS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <!--<link href="{% static 'css/typeahead.js-bootstrap.css' %}" rel="stylesheet">-->
    <!--<link href="{% static 'css/poll.css' %}" rel="stylesheet">-->
    <!--<link href="{% static 'css/jquery-ui-1.10.3.custom.css' %}" rel="stylesheet">-->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">

    <!-- Typeahead CSS -->

    <!-- Modernizr -->
    <script src="{% static 'js/modernizr.js' %}"></script>

    <!-- Use this to quickly test CSS changes in a template, then move to project.css -->
    {% block extra_css %}{% endblock extra_css %}
  </head>

  <body>
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
      FB.init({
        appId      : '{% settings_value "FACEBOOK_APP_ID" %}', // App ID
        channelUrl : '//WWW.pollaboration.COM/channel.html', // Channel File
        status     : true, // check login status
        cookie     : true, // enable cookies to allow the server to access the session
        xfbml      : true  // parse XFBML
      });

      FB.Event.subscribe('auth.authResponseChange', function(response) {
        if (response.status === 'connected') {
        } else if (response.status === 'not_authorized') {
          console.log("logged into fb, not app");
        } else {
            console.log("not logged into fb");
            {% if user.is_authenticated %}
            console.log("logged into app");
            {%else%}
            console.log("not logged into app");
            {%endif%}
          }
      });
      };

      // Load the SDK asynchronously
      (function(d){
       var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement('script'); js.id = id; js.async = true;
       js.src = "//connect.facebook.net/en_US/all.js";
       ref.parentNode.insertBefore(js, ref);
      }(document));
    </script>

    <div class="container">

    <div class="row">
      <div class="col-12 col-lg-7 col-sm-9 pull-center no-padding bottom-buffer">
        <div class="navbar">
          <div class="container">
            <a href="/" class="navbar-brand">POLLABORATION</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="nav-collapse collapse navbar-responsive-collapse">
              <ul class="nav navbar-nav">
                <li>
                  {% if user.is_authenticated %}<a href="{% url 'accounts.views.submit' %}">Ask</a>
                  {%else%}<a href="#">Ask</a>{%endif%}
                </li>
                {% if request.user.is_authenticated %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b></a>
                  <ul class="dropdown-menu" role="menu" aria-labeledby="dLabel">
                    <li><a href="{% url 'accounts.views.profile' %}">Profile</a></li>
                    <li><a href="/accounts/logout_view" data-toggle="popover" data-placement="bottom">Logout</a></li>
                  </ul>
                </li>
                {%else%}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Log In<b class="caret"></b></a>
                  <ul class="dropdown-menu" role="menu" aria-labeledby="dLabel">
                    <form method="post" action="{% url 'accounts.views.login_view' %}" class="form-horizontal">{% csrf_token %}
                      <li>
                        <input class="input-small" name="email" type="email" id="id_email" placeholder="Email">
                      </li>
                      <li>
                        <input class="input-small" name="password" type="password" id="id_password" placeholder="Password">
                      </li>
                      <li>
                        <div class="checkbox">
                        <label>
                        <input type="checkbox"> Remember me
                        </label>
                        </div>
                      </li>
                      <li>
                        <button type="submit" value="login_view" class="btn btn-block">Log In</button>
                      </li>
                    </form>
                      <li>
                        <p><a href="/accounts/registration">Or you can sign up.</a><p>
                      </li>
                    </ul>
                </li>
                <li>
                <a href class="fblogin social facebook"></a>
                </li>
                {%endif%}
              </ul>
            <form class="navbar-form pull-right">
            <input type="search" id="search" placeholder="Search">
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>

      {% block page_title %}{% endblock page_title %}

      <!-- Alert -->
    
      {% block content %}
      {% endblock content %}

      {% block current_question %}
      {% endblock current_question %}

      {% block profile %}
      {% endblock profile %}

      {% block question_details %}
      {% endblock question_details %}

      {% block sign_up %}
      {% endblock sign_up %}

    </div> <!-- /container -->
    <div class="container">
    <footer>
    <div class="row bottom-buffer">
    <div class="col-12 col-lg-7 col-sm-9 pull-center white">
    <p>© 2013 Pollaboration.
    <span class="pull-right">
      <a href="#">About</a>&nbsp;&nbsp;
      <a href="#">Contact</a>&nbsp;&nbsp;
      <a href="#">FAQ</a>&nbsp;&nbsp;
      <a href="#">Privacy</a>&nbsp;&nbsp;
      <a href="#">Terms</a>&nbsp;&nbsp;
    </span>
    </p>
    </div>
    </div>
    </footer>
    </div>
    <!-- Javascript -->

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.10.3.custom.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/moment.js' %}"></script>
    <script src=" {% static 'js/vendor/typeahead.js' %}"></script>-->
    <script src="http://twitter.github.com/hogan.js/builds/2.0.0/hogan-2.0.0.js"></script>
    <!-- place project specific Javascript in this file -->
    <script src="{% static 'js/project.js' %}"></script>
<script type = "text/javascript">
$(document).ready(function() {
  $('#search').typeahead([
  {
    name: 'questions',
    remote: '{% url "questions.views.search" %}?q=%QUERY',
    footer: '<span class="searchresults"><a href="{% url "questions.views.search_results" %}?q=%QUERY"><p>See all search results</p></a></span> <span class="searchresults">{% if user.is_authenticated %} <a href="{% url "accounts.views.submit" %}"> {%else%} <a href title="Log in to ask your own questions."> {%endif%}<p>Submit new question</p></a></span>',
    template: '<p>\{\{value\}\}</p>',
    engine: Hogan,
    limit: 5
  }])
  .on('typeahead:closed', function() {
    $('#search').val('');
  })
  .on('typeahead:selected', function(evt, item) {
    $('#content div').empty();
    $.ajax({
      url: "/questions/" + item.id + "/",
      type: "GET",
      success: function(data) {
        $('#search').val('');
        window.location.href = "/questions/"+item.id+"/";
       /* $('#current_question').html(data).hide().fadeIn(200);*/
      }});
  });
});

$(document).on('click', '.searchresults a', function() {
  var $this = $(this), query = $('#search').val();
  $this.attr('href', $this.attr('href').replace('%QUERY', query));
});
</script>
    <script>
    $('.fblogin').click(function(e) {
      e.preventDefault();
      FB.login(function(response) {
        var access_token=response.authResponse.accessToken;
        window.location.href =  '/accounts/facebook_login_success?access_token=' + access_token;
  }, {scope: "{% settings_value 'FACEBOOK_SCOPE' %}" });
    });

    $('.logout').click(function(e){
      e.preventDefault();
      FB.logout(function(response){
        window.location.href = '/accounts/logout_view/';
      });

    });
    </script>
    {% block extra_js %}


    {% endblock extra_js %}
  </body>
</html>
