{% extends "base.html" %}

{% load staticfiles %}
{% load questions_tags %}
{% block title %}Pollaboration - {% if request.user.first_name == "" %}{{request.user.email}}{%else%}{{request.user.first_name}}{%endif%}'s Profile{% endblock title %}

{% block profile %}

<div id="profile" class="row bottom-buffer">
    <div class="col-12 col-lg-7 col-sm-9 pull-center red">
    <div class ="page-header">
    <h1>
        {{request.user.email}}
        <span class="pull-right">
            {% if request.user.fb_id == ""%}
            <a href class="fblogin social facebook"></a>
            {% else %}
            <span class="activated"><a href class="fblogin social facebook"></a></span>
            {%endif%}
            <a href="#"><i class="social twitter"></i></a>
            <a href="#"><i class="social google_plus"></i></a>
        </span>
    </h1>
    <h5>Member since {{request.user.created}}</h5>
    </div>
    </div>
</div>

<div class="row bottom-buffer">
    <div class="col-12 col-lg-7 col-sm-9 pull-center blue">
{% if request.user.fb_id == "" %}
{%else %}

        <h2>Here's what we're getting from your Facebook profile!  Don't worry - we're not giving anything out.  Especially your mom's number.  That's just for us. <a href="#" class="pull-right glyphicons edit"></a></h2>
        <div class="row">
            <div class="col-6 col-lg-8 col-sm-8">
                <p> 
                    Age:&nbsp;{{request.user.age}}<br>
                    <a class="glyphicons google_maps">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{request.user.location}}</a><br>
                    Friends: {% if request.user.friends.count == 0 %}You... have no friends at all. Awkward...{%else%} {{request.user.friends.count}} friends. Recruit more!{%endif%}
                </p>
            </div>

        <h2>
            Facebook profile information
        </h2>
            <div class="row">
                <div class="col-12 col-lg-12 col-sm-12">
                <img src ="http://graph.facebook.com/{{request.user.fb_id}}/picture?type=small">
                    agegroup: {{request.user.agegroup|default_if_none:"N/A"}}
                    gender: {{request.user.gender}}
                    hometown: {{request.user.hometown|default_if_none:"N/A"}}
                    location: {{request.user.location|default_if_none:"N/A"}}
                    relationship status: {{request.user.relationship_status|default_if_none:"N/A"}}
                    religion: {{request.user.religion|default_if_none:"N/A"}}
                    political: {{request.user.political|default_if_none:"N/A"}}
                </div>
            </div>
        {% endif %}
        <h1>Activity</h1>
    	<h2>
            {% if request.user.votes.count == 0 %}
                You answered no Qs! R U A JEW?
            {% else %}
                Answers - {{request.user.votes.count}}
            {%endif%}
            <a href="" id="answersInfo" class="pull-right glyphicons circle_info" rel="popover" data-content="<p>You've answered {{request.user.votes.count}} questions so far, and the grid has all of them. The colors show you how closely your answers line up with those of other users— warmer colors mean you're in with the crowd, while cooler colors mean you eat lunch alone.</p><p>No judgment either way.</p>" title="Are you a conformist? <em>Or are you a rebel?</em>"></a>
        </h2>
        <div class="row">
            <div class="col-12 col-lg-12 col-sm-12">
                <a href=''><div class="pollChart" id="grid"></div></a>
            </div>
        </div>
    	   
    	<h2>
        {% if request.user.submissions.count == 0 %}
            <a href="{% url 'accounts.views.submit' %}">You haven't asked any Qs. Click to ask some!</a>
        {%else%}
            Questions - {{request.user.submissions.count}}
            <a href="#" class="pull-right glyphicons circle_info" data-toggle="modal"></a>
        {%endif%}
            
        </h2>
        <div class="row">
            <div class="col-8 col-lg-8 col-sm-8 pull-center">
            	{% for submission in request.user.submissions.all %}
                <h3>{{submission.question}}</h3>
            	<div class="pollChart" id="stacked{{forloop.counter}}"></div>
            	{%endfor%}
            </div>
        </div>
    </div>
</div>

{% endblock profile %}

{% block extra_js %}
<script src="{% static 'js/vendor/d3.js' %}"></script>
<script src="{% static 'js/vendor/underscore.js' %}"></script>
<script src="{% static 'js/chart.js' %}"></script>
<script>
$(function ()  {
 $("#answersInfo").popover(
    {   html: true,
        trigger: 'hover',
        placement: 'auto right',
        container: 'body'
    });  
}); 
</script>
<script>
  $('.fblogin').click(function(e) {
    e.preventDefault();
    FB.login(function(response) {
      var access_token=response.authResponse.accessToken;
      window.location.href =  '/accounts/connect_facebook_account?access_token=' + access_token;
}, {scope: "{% settings_value 'FACEBOOK_SCOPE' %}" });
  });
</script>
<script>
{% for submission in request.user.submissions.all %}
var stackeddata{{forloop.counter}} = [
{% for a in submission.answers.all %}
{
    id: {{forloop.counter}},
    label: "{{a.answer}}",
    value: {{a.votes.count}}
}{% if not foorloop.last %},{%endif%}{%endfor%}
];
        pollChart.stacked({
            el: "#stacked{{forloop.counter}}",
            data: stackeddata{{forloop.counter}} ,
            /*width: 700,*/
            height: 60,
            margin: {
                top: 0,
                right: 0,
                bottom: 30,
                left: 0
            },
            colors: ["#FFF5E4", "#FF7E65", "#7DCDFC", "#2084C4", "#3D444B"]
        });
{%endfor%}
</script>
<script>
pollChart.grid({
            el: "#grid",
            /*width: 700,
            height: 60,*/
            margin: {
                top: 0,
                right: 0,
                bottom: 0,
                left: 0
            },
            colors: ["#FFF5E4", "#FF7E65", "#7DCDFC", "#2084C4", "#3D444B"],
            data: [
    {% for x in grid_data %}
    {
        question:"{{x.question|safe}}",
        question_id: "{{x.question_id}}",
        answers:[
            {% for y in x.answers %}
                {
                    id:{{y.id}},
                    label:"{{y.label|safe}}",
                    value:{{y.value}}
                }{%if not forloop.last %},{%endif%}
                {%endfor%}
                ],
        chosen:{{x.chosen}}
    }{% if not foorloop.last %},{%endif%}
    {% endfor %}
    ]
        });
</script>
<script>
$('.gridSquare').click(function(e) {
    e.preventDefault();
    console.log(e.currentTarget.__data__.question_id);
    window.location.href= '/questions/details/'+e.currentTarget.__data__.question_id;
});
$(".gridSquare").popover({
    html: true,
    trigger: 'hover',
    placement: 'auto top',
    container: 'body',
    title: function(e) {
        return "Click for more detailed results.";
    },
    content: function(e) {
        var q = $(this).context.__data__.question;
        var a = $(this).context.__data__.answer;
        return "<a href=''><b>Question:   </b>" + q + "<br /><b>Your Answer:</b>   " + a+"</a>";
    }
});  
</script>
{% endblock extra_js %}