{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Pollaboration - {{question.question}} - Detailed view{% endblock title %}

{% block extra_css %}
<link href="{% static 'css/jquery-ui-1.10.3.custom.css' %}" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Alegreya:400,700,900' rel='stylesheet' type='text/css'>
{% endblock extra_css %}

{% block question_details %}

<div id="question_details" class="row bottom-buffer">

    <div id="sunburstcontainer" class="col-12 col-lg-7 col-sm-9 pull-center darkgray">
        <h1 class="pull-left" style="">{{question.question}}</h1>
           <p class="text-right">Submit on {{question.created}}. Last answered on {{question.modified}}.</p>
           <p class="text-right">Answer frequency: X per day, Y per week, Z per month.</p>
        <div class = "row">
            <div class ="col-4 col-lg-4 col-sm-4 pull-left darkgray">
                <div class="row">
                    <div id="legendplacement"></div>
                </div>
                <div class="row">
                    <div id = "dropdowns" ckass="pull-center"></div>
                    
                </div>
            </div>
            <div class="col-8 col-lg-8 col-sm-6 pull-right darkgray">
                <div class="row">
                    <div class ="pollChart" id="sunburst" name="sunburst"></div>
                </div>
                <div class="row">
                    <div id="sliderplacement"></div>
                </div>
            </div>
        </div>


        <p class="text-right">
            SHARE: 
            <a href="#" class="social facebook icon-big"></a>
            <a href="#" class="social twitter icon-big"></a>
            <a href="#" class="social google_plus icon-big"></a>
        </p>
    </div>
</div>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/vendor/d3.js' %}"></script>
<script src="{% static 'js/vendor/underscore.js' %}"></script>
<script src="{% static 'js/moment.js' %}"></script>
<script src="{% static 'js/jquery-ui-1.10.3.custom.js' %}"></script>
<script src="{% static 'js/d3-compat.js' %}"></script>
<script src="{% static 'js/bootstrap-tooltip.js' %}"></script>
<script src="{% static 'js/colorbrewer.js' %}"></script>
<script src="{% static 'js/jquery.ui.slider-drag-patch.js' %}"></script>
<script src="{% static 'js/dragslider.js' %}"></script>
{% endblock question_details %}

{% block extra_js %}

<script src="{% static 'js/jquery.ui.slider-drag-patch.js' %}"></script>
<script src="{% static 'js/dragslider.js' %}"></script>
<script src="{% static 'js/chart.js' %}"></script>

<script>
    (function(){
        var pollChart = window.pollChart;
/*        d3.select("form select").on("change", function() {
            console.log(this.options[this.selectedIndex].value);
            url = "/questions/getjson/"+this.options[this.selectedIndex].value+"/";
url = "/questions/getjson/{{question.id}}";
            pollChart.showSunburst(url);
        });*/
        url = "/questions/getjson/{{question.id}}";
        data = JSON.parse('{{json|safe}}');
        console.log(data);
        pollChart.showSunburst(data);
        console.log("hi");
        console.log(pollChart.sunburst(opts));
    })();
    
</script>
<script>
function(){
    console.log("sunburst");
    console.log(pollChart.sunburst);
}
</script>
{% endblock extra_js %}