{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Pollaboration - {{question.question}} - Detailed view{% endblock title %}

{% block extra_css %}
<link href="{% static 'css/jquery-ui-1.10.3.custom.css' %}" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Alegreya:400,700,900' rel='stylesheet' type='text/css'>
{% endblock extra_css %}

{% block question_details %}

<div id="current_question" class="row bottom-buffer">
    <div class="col-12 col-lg-7 col-sm-9 pull-center text-left red">
    <h1 style="margin-bottom:0px;margin-top:0px;font-family:Alegreya;font-weight:700">{{question.question}}
     <span class="pull-right">
     <p style="font-weight:400;font-size:14px">Share:    
        <a href="#" class="social facebook icon-big"></a>
        <a href="#" class="social twitter icon-big"></a>
        <a href="#" class="social google_plus icon-big"></a>
        </p>
     </span>
     </h1>
    </div>
</div>


<div class="row bottom-buffer">

    <div id="sunburstcontainer" class="col-12 col-lg-7 col-sm-9 pull-center darkgray">
    <h1 class="text-center" style="margin-bottom:10px;margin-top:0px;font-family:Alegreya;font-weight:400">The quick brown fox jumps over the lazy brown dog.</h1>
    <div class = "row">
    <div class = "pollChart">
    <div class="col-12 col-lg-8 col-sm-8 pull-left" id="sunburst">
    </div>
    <div id = "newlegendholder" class = "col-12 col-lg-4 col-sm-5 pull-right text-right" style="margin-top:50px">
        how the fuk do i get the filters and shit over here ..
    </div>

    </div>
    </div>



     <p class="text-right">
        SHARE: 
        <a href="#" class="social facebook icon-big"></a>
        <a href="#" class="social twitter icon-big"></a>
        <a href="#" class="social google_plus icon-big"></a>
     </p>
    </div>
</div>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/vendor/d3.js' %}"></script>
<script src="{% static 'js/vendor/underscore.js' %}"></script>
<script src="{% static 'js/moment.js' %}"></script>
<script src="{% static 'js/jquery-ui-1.10.3.custom.js' %}"></script>
<script src="{% static 'js/d3-compat.js' %}"></script>
<script src="{% static 'js/bootstrap-tooltip.js' %}"></script>
<script src="{% static 'js/colorbrewer.js' %}"></script>

{% endblock question_details %}

{% block extra_js %}
<script src="{% static 'js/chart.js' %}"></script>
<script src="{% static 'js/jquery.ui.slider-drag-patch.js' %}"></script>
<script>
    (function(){
        var pollChart = window.pollChart;
/*        d3.select("form select").on("change", function() {
            console.log(this.options[this.selectedIndex].value);
            url = "/questions/getjson/"+this.options[this.selectedIndex].value+"/";
url = "/questions/getjson/{{question.id}}";
            pollChart.showSunburst(url);
        });*/
        url = "/questions/getjson/{{question.id}}";
        data = JSON.parse('{{json|safe}}');
        console.log(data);
        pollChart.showSunburst(data);

    })();
    
</script>
{% endblock extra_js %}