{% extends "base.html" %}

{% load staticfiles %}
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script>
    $('.datepicker').datepicker({
      format: 'mm-dd-yyyy',
      autoclose: true,
      keyboardNavigation: true
    });
</script>

{% block title %}Pollaboration - Sign Up{% endblock title %}

{% block sign_up %}

<div id="sign_up" class="row bottom-buffer">
  <div class="col-12 col-lg-7 col-sm-9 pull-center lightgray">
  <h1 class="text-center">Sign Up For Pollaboration</h1>
  <form class="form-horizontal">
    <div class="row">
      <label class="col-3 col-lg-2 col-sm-2 control-label" for="inputEmail">Email</label>
      <div class="col-9 col-lg-10 col-sm-10">
        <input type="text" id="inputEmail" placeholder="Email">
      </div>
    </div>

    <div class="row">
      <label class="col-3 col-lg-2 col-sm-2 control-label" for="inputPassword">Password</label>
      <div class="col-9 col-lg-10 col-sm-10">
        <input type="password" id="inputPassword" placeholder="Password">
      </div>
    </div>

    <div class="row">
      <label class="col-3 col-lg-2 col-sm-2 control-label">Gender/DoB</label>
      <div class="col-5 col-lg-6 col-sm-6">
      <select id="inputGender">
        <option>Gender</option>
        <option>Male</option>
        <option>Female</option>
        <option>Neither</option>
      </select>
      </div>
      <div class="col-4 col-lg-4 col-sm-4 ">
        <input type="text" class="datepicker" id="inputBirthdate" placeholder="DOB MM-DD-YYYY">
      </div>
    </div>

    <div class="row">
      <div class="col-8">
        <label class="checkbox pull-right">
        <input type="checkbox"> Remember me
        </label>
      </div>
      <div class="col-4">
        <button type="submit" class="btn pull-right">Sign Up</button>
      </div>
    </div>

  </form>
  </div>
</div>

{% endblock sign_up %}